<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")

    <title>@ViewBag.Title - NewHire Application</title>
    <link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.dataviz.nova.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.common-nova.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.nova.min.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/jszip.min.js")"></script>

    <link href="~/Content/CSS/carter-internal-theme-3.0.css" rel="stylesheet" />
    <link href="~/Content/CSS/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse">
        <!--<div class="container">-->
        <!-- <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0; height: 30px;">-->
        <!--<div class="navbar-header">-->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <h1 class="navbar-brand">@ViewBag.Title</h1>
        <a class="carter-logo"><img src="http://cartercdn/images/logo3.png" /></a>

        <!--@Html.ActionLink("NewHire-HR Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })-->
    </div>
            <!--<div class="navbar-collapse collapse">
    <div class="navbar-nav">
    <a class="carter-logo" href="/"><img title="Return to Landing Page" alt="Return to Landing Page" src="http://cartercdn/images/logo3.png"/></a>

    <!--<a class="carter-logo" href="/"><img title="Carter" alt="Carter" src="~/Content/Images/logo3.png" /></a>

    </div>
    </div>-->
       <!-- </nav>-->
    <!--</div>-->
<!--</div>-->

<div class="body-content">
    <!--<div id="page-inner">-->
        @RenderBody()
        <!--<hr />
     <footer>
         <p>&copy; @DateTime.Now.Year - Carter Logistics</p>
     </footer>-->
    </div>
    @Styles.Render("~/Content/css")
@* @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/kendo")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@

</body>
</html>
